#logo {
	background: transparent url('../ images/i.jpg') no-repeat center;
	background-size: 144px;
 	height: 140px;
 	width: 140px;
 	margin: 36px 36px 22px 46px;
  	border: 2px solid #aaa;
  	border-radius: 100px;
}
#logo:hover {
	border: 2px solid #fff;
}

/*
SOCIAL ICONS
*/

.facebook-icon { background-image: url('../images/icons/facebook.png'); }
.facebook-color:hover { background-color: #3b579d; }
.twitter-icon { background-image: url('../images/icons/twitter.png'); }
.twitter-color:hover { background-color: #55acee; }
.youtube-icon { background-image: url('../images/icons/youtube.png'); }
.youtube-color:hover { background-color: #cd201f; }
.google-plus-icon { background-image: url('../images/icons/google_plus.png'); }
.google-plus-color:hover { background-color: #dd4b39; }
.grooveshark-icon { background-image: url('../images/icons/grooveshark.png'); }
.grooveshark-color:hover { background-color: #FF8300; }
.vine-icon { background-image: url('../images/icons/vine.png'); }
.vine-color:hover { background: #00bf8f; }
.instagram-icon { background-image: url('../images/icons/instagram.png'); }
.instagram-color:hover { background-color: #1c5380; }
.flickr-icon { background-image: url('../images/icons/flickr.png'); }
.flickr-color:hover { background-color: #ff0084; }
.skype-icon { background-image: url('../images/icons/skype.png'); }
.skype-color:hover { background-color: #00aff0; }
.spotify-icon { background-image: url('../images/icons/spotify.png'); }
.spotify-color:hover { background-color: #4da400; }
.soundcloud-icon { background-image: url('../images/icons/soundcloud.png'); }
.soundcloud-color:hover { background-color: #FF5500; }
.pinterest-icon { background-image: url('../images/icons/pinterest.png'); }
.pinterest-color:hover { background-color: #cb2027; }
.xbox-icon { background-image: url('../images/icons/xbox.png'); }
.xbox-color:hover { background-color: #107c10; }
.dribbble-icon { background-image: url('../images/icons/dribbble.png'); }
.dribbble-color:hover { background-color: #ea4c89; }
.foursquare-icon { background-image: url('../images/icons/foursquare.png'); }
.foursquare-color:hover { background-color: #0732a2; }
.linkedin-icon { background-image: url('../images/icons/linkedin.png'); }
.linkedin-color:hover { background-color: #0073b2; }
.github-icon { background-image: url('../images/icons/github.png'); }
.github-color:hover { background-color: #333333; }
.deviantart-icon { background-image: url('../images/icons/deviantart.png'); }
.deviantart-color:hover { background-color: #05cc47; }
.snapchat-icon { background-image: url('../images/icons/snapchat.png'); }
.snapchat-color:hover { background-color: #fffc00; }
.behance-icon { background-image: url('../images/icons/behance.png'); }
.behance-color:hover { background-color: #1769ff; }
.twitch-icon { background-image: url('../images/icons/twitch.png'); }
.twitch-color:hover { background-color: #6441A5; }
.vimeo-icon { background-image: url('../images/icons/vimeo.png'); }
.vimeo-color:hover { }
.slideshare-icon { background-image: url('../images/icons/slideshare.png'); }
.slideshare-color:hover { }
.aboutme-icon { background-image: url('../images/icons/aboutme.png'); }
.aboutme-color:hover { }

/*
PROJECTS - ICONS
*/

.icon-1 { background-image: url('https://lh5.googleusercontent.com/-kpl9cF1th5U/Ugg9UAuQGpI/AAAAAAAACkY/-EGRtKI8rwc/11.png'); }
.icon-2 { background-image: url('https://lh3.googleusercontent.com/-P_8TeRsRPbM/UbOHlvQ5DKI/AAAAAAAACec/8aBbVJDysnA/inblug.png'); }
.icon-3 { background-image: url('https://lh3.googleusercontent.com/-BZ82vnr-x6M/UbN-TW_SHPI/AAAAAAAACdk/ZPtIDBpjS5Q/1.png'); }
.icon-4 { background-image: url('https://lh5.googleusercontent.com/-8cwd2WLLcic/UbN-TUWIOgI/AAAAAAAACdg/dB0YlCS_XtY/2.png'); }
.icon-5 { background-image: url('https://lh4.googleusercontent.com/-y4u5Yy2hZjk/UbN-Wn8iZOI/AAAAAAAACd0/By82_bTy8Wo/4.png'); }
.icon-6 { background-image: url('https://lh4.googleusercontent.com/-uZYZoInUgqE/UbN-XaP7qjI/AAAAAAAACd8/G50Er21ne54/5.png'); }
.icon-7 { background-image: url('https://lh4.googleusercontent.com/-tvVvM6HtEDc/UggBVLMzTHI/AAAAAAAACj8/0IO5ANbCXbE/10.png'); }
.icon-8 { background-image: url('https://lh5.googleusercontent.com/-QIZ2Xz-fAAA/UbN-YVq05fI/AAAAAAAACeM/a7_URRiF0Ds/7.png'); }
.icon-9 { background-image: url('https://lh6.googleusercontent.com/-nAU2qsEo618/UgfyuAO6aSI/AAAAAAAACjc/-jzAB3rHrUQ/8.png'); }
.icon-10 { background-image: url('https://lh3.googleusercontent.com/-Mktv68b3HMg/Ugf2_i21i_I/AAAAAAAACjs/L5pK_FsnVCg/9.png'); }

/*
PROJECTS - BACKGROUNDS
*/

.green { background-color: #27ae60; }
.green-2 { background-color: #2ecc71; }
.blue { background-color: #3498db;}
.blue-2 { background-color: #2980b9; }
.red { background-color: red; }
.yellow { background-color: #f1c40f; }
.purple { background-color: rgba(181,0,191,1); }
.orange { background-color:#FF5C00; }
.pink { background-color:#ff0052; }
.gray { background-color: #666; }


