/*
FONTS
*/

@font-face { font-family: Roboto-Thin; src: url(../fonts/Roboto-Thin.ttf); }
@font-face { font-family: Roboto-Light; src: url(../fonts/Roboto-Light.ttf); }
@font-face { font-family: Roboto-Regular; src: url(../fonts/Roboto-Regular.ttf); }
@font-face { font-family: Roboto-Medium; src: url(../fonts/Roboto-Medium.ttf); }
@font-face { font-family: Roboto-Black; src: url(../fonts/Roboto-Black.ttf); }

/*
MEDIA QUERIES
*/

@media all and (min-width: 2000px) {

  body { 
    margin: 0 0 0 240px; 
  }
  header { 
    width: 240px; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
  }
  header h1 a { 
    font-size: 40px; 
    float: left; 
    padding: 5px 5px; 
    font-weight: 700; 
    text-decoration: none; 
    outline: none; 
    color: #aaa;
    line-height: 140%;
    letter-spacing: 6px;
  }
  header h1 a:hover, header h1 a:focus { 
    color: #fff; 
    background-color: #3C3C3C; 
  }
  header h1 a span { 
    font-weight: 300; 
    font-family: 'Roboto-Light', sans-serif; 
    font-size: 53px; 
  }
  section h2 { 
    font-size: 38px; 
    font-family: Roboto-Light;
    font-weight: lighter; 
    padding: 80px 14% 60px 14%; 
    color: #999;
  }
  .box figure { 
    background-size: 80px; 
    height:160px; 
    width: 160px; 
  }
}


@media all and (max-width: 1999px) {

  body { 
    margin: 0 0 0 240px; 
  }
  header { 
    width: 240px; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
  }
  header h1 a { 
    font-size: 26px;
    float: left;
    padding: 15px 15px 5px 15px;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    color: #aaa;
    line-height: 140%;
    letter-spacing: 6px;
  }
  header h1 a:hover, header h1 a:focus {
    color: #fff;
    background-color: #3C3C3C; 
  }
  header h1 a span {
    font-size: 44px; 
  }
  section h2 {
    font-size: 34px;
    font-family: Roboto-Light;
    font-weight: lighter;
    padding: 80px 14% 60px 14%;
    color: #999;
  }
  .box figure { 
    background-size: 64px; 
    height: 140px; 
    width: 140px; 
  }
}


@media all and (max-width: 900px) {

  body { 
    margin: 60px 0 0 0; 
  }
  header { 
    width: auto; 
    height: 60px; 
    position: fixed; 
    right: 0; 
  }
  header h1 a, header h1 a span { 
    font-family: 'Roboto-Light', sans-serif;
    color: #fff;
    font-size: 34px;
    padding-top: 7px;
    padding-bottom: 8px;
  }
  section h2 {
  font-size: 34px;
  padding: 40px 2%;
  }
  .box figure { 
    background-size: 48px 48px; 
    height: 120px; 
    width: 120px; 
  }
  #logo { 
    display: none; 
  }

  /* — — — MENU — — — MENU — — — */
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 240px;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  header ul.list-auto {
    padding: 0;
  }
  header ul.list-auto li {
    width: 100%;
  }
  header li a {
    padding: 15px 10px;
  }
  header li a:hover {
    background-color: #ccc;
  }
  .control-nav {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 26px;
    padding: 7px 0;
    border: solid #fff;
    border-width: 2px 0;
    z-index: 2; 
    cursor: pointer;
    background-color: transparent;
  }
  .control-nav:before {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
  }
  .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.3);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  input#control-nav {
    display: block;
  }
  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }
  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }
  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  /* — — — MENU — — — MENU — — — */
}


@media all and (max-width: 500px) {

  .box { 
    width:50%; 
  }
  header h1 a, header h1 a span { 
    font-size: 22px;
    padding: 16px 0px 13px 10px; 
  }
  section h2 {
    font-size: 24px;
    padding: 40px 2%;
  }
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

::selection { 
  color: #fff; 
  background: #555;
  text-shadow: none;
}
::-moz-selection {
  color: #fff; 
  background: #555; 
  text-shadow: none;
}

html {
  background-color: #eee;
}
body {
	font-family: 'Roboto-Regular', Arial, sans-serif;
	color: #777;
}
header {
	background-color: #444;
	z-index: 2;
	text-align: center;
}
section, footer { 
	position: relative;
	float: left; 
	padding: 2% 2%;
	height: auto; 
	width: 96%;
	background-color: #fff;
	text-align: center;
}
a {
  color: #777;
  text-decoration: none;
}
a:hover, a:focus {
  color: #222;
}

/*
ANIMATION
*/

.spinner {
  width: 140px;
  height: 140px;
  background-color: #fff;
  margin: 100px auto;
  -webkit-animation: rotateplane 4.2s infinite ease-in-out;
  animation: rotateplane 4.2s infinite ease-in-out;
}
@keyframes rotateplane {
  0% {  transform: perspective(120px) rotateX(0deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) } 
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) } 
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

/*
NAV
*/

.nav-list, .nav-list li { 
  width: 100%; 
  float: left; 
  display: block; 
  position: relative; 
}
header nav { 
  float: right;
  background-color: #444;
}
header ul {
  padding: 32px 0;
  background-color: transparent;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 16px;
}
header li a {
  display: block;
  width: 100%;
  outline: none;
  padding: 0 0;
  color: #aaa;
  line-height: 46px;
  text-transform: uppercase;
  text-decoration: none;
  /* text-align: left; */
}
header li a:hover, header li a:focus {
  color: #fff;
  background-color: #3C3C3C;
}
input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.active-page {
  color: #fff;
  background-color: rgb(82, 82, 82);
  font-family: Roboto-Regular;
}

/*
BACKGROUNDS
*/

.bg-gray {
	background-color: #eee;
}
.bg-white {
	background-color: #fff;
}
.bg-img-full {
  background-image: url('../images/full.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.img-section {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
}

.box-bg-white {
  background-color: #fff;
}

/*
TEXT
*/

.page-title {
  font-size: 66px;
  font-family: Roboto-Thin;
  padding: 10px 14%;
  color: #ccc;
  text-transform: uppercase;
}
strong {
  font-family: 'Roboto-Regular';
}
h3 {
	font-size: 28px;
	font-family: 'Roboto-Regular';
	font-weight: 300;
	padding: 20px 10%;
  text-align: justify;
}
h4 {
  font-size: 18px;
  font-family: 'Roboto-Light';
  font-weight: 300;
  padding: 10px 10%;
  text-align: left;
}
h6 {
	font: 14px 'Roboto-Light', sans-serif;
}
h2 span {
  font-weight: bold;
  font-style: italic;
}

/*
BOX SOCIAL
*/

a.box {
	position: relative;
	display: inline-block;
	float: none;
	height: auto;
	width: auto;
	padding: 3px;
	margin: 6px;
	text-decoration: none;
	outline: none;
  background-color: rgba(85, 85, 85, 0.5);
  border: 1px solid rgba(68, 68, 68, 0.01);
}
a.box:hover {
  background-color: #4C4C4C;
  /*
  -webkit-transform:scale(0.9) translate(0, 0);
  -moz-transform:scale(0.9) translate(0, 0);
  -ms-transform:scale(0.9) translate(0, 0); 
  -o-transform:scale(0.9) translate(0, 0);
  transform:scale(0.9) translate(0, 0);
  */
}
a.box:focus {
  background-color: #444;
  border: 1px solid #fff;
}
.box h2 {
  position: absolute;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-family: Roboto-Light;
	font-weight: lighter;
  width: auto;
	height: 26px;
	padding: 0 10px;
	bottom: 2px;
	background: transparent;
}
.box figure {
	display: block;
	background-repeat: no-repeat; 
	background-position: 50% 42%;
}

/*
BOX PROJECTS
*/

@media all and (min-width:1000px) {
  a.box-pro { width:22.2%; }
}
@media all and (max-width:999px) {
  a.box-pro { width:30.4%; }
}
@media all and (max-width: 680px) { 
  a.box-pro { width:47%; margin:0.5%; } 
}
@media all and (max-width: 580px) {  
  a.box-pro { width:94%; margin:0.5%; }
}

a.box-pro {
  position: relative;
  display: inline-block;
  float: left; 
  background-color:  #fff; 
  height: auto;
  margin: 1.4%; 
  padding: 0px;
  text-decoration: none; 
  text-align: center;
}
a.box-pro:hover, a.box-pro:focus { 
  background-color: transparent;
}
a.box-pro h2 {
  height: auto;
  padding: 0;
  width: 100%;
  font: 400 28px 'Roboto-Regular';
  color: #777;
}
a.box-pro h3 {
  height: auto;
  text-align: center;
  padding: 12px 25px 25px 25px; 
  font: 200 16px Arial, sans-serif;
  color: #aaa;
}
.mini {
  display: inline-block;
  height: auto;
  width: 144px;
  margin: 24px auto 18px auto;
  border-radius: 336px;
}
.img {
  float: left;
  width: 100%;
  height: 144px;
  background: no-repeat center;
  background-size: 70px;
}

/*
BOX POST
*/

@media all and (min-width: 2200px) {
  a.box-post { width: 17.2%; }
}
@media all and (max-width: 2199px) {
  a.box-post { width: 22.2%; }
}
@media all and (max-width: 1699px) {
  a.box-post { width: 30.4%; }
}
@media all and (max-width: 1200px) { 
  a.box-post { width: 47%; } 
}
@media all and (max-width: 600px) {  
  a.box-post { width: 97.4%; }
}
a.box-post {
  position: relative;
  display: inline-block;
  float: left; 
  height: auto;
  margin: 1.4%; 
  padding: 0 0 15px 0;
  background-color: #fff; 
}
a.box-post:hover, a.box-post:focus { 
  background-color: transparent;
}
a.box-post h2 {
  width: 90%; 
  padding: 0 5%;
  color: #555;
  font: 400 22px 'Roboto-Regular';
  text-align: center;
}
a.box-post h3 {
  padding: 12px 25px 10px 25px;
  color: #aaa;
  font: 200 14px Arial, sans-serif;
  text-align: center;
}
a.box-post .bg {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}
a.box-post .img {
  float: left;
  width: 100%;
  height: 180px;
  background: no-repeat center;
}

/*
BUTTON
*/

.container {
  position: relative;
  float: left; 
  padding: 1% 2%;
  height: auto; 
  width: 96%;
  margin: 1px 0 0 0;
  background-color: #fff;
  text-align: center;
}
.button-icon {
  position: relative;
  display: inline-block;
  float: none; 
  height: 18px;
  width: 18px;
  margin: 0 10px 0 10px; 
  padding: 14px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #fff;
}
.button-icon:hover, .button-icon:focus {
  background-color: transparent;
  border: 1px solid #999;
  cursor: pointer;
}
.button-img {
  position: relative;
  width: 18px;
  height: 18px;
  background-size: 18px;
  background-repeat: no-repeat; 
  background-position: center;
}
.button-img-search {
  background-image: url('../images/search.png');
}
.button-img-categories {
  background-image: url('../images/tag.png');
}
.button-img-share {
  background-image: url('../images/share.png');
}
.button-img-rss {
  background-image: url('../images/rss.png');
}
.button-img-add {
  background-image: url('../images/add.png');
}
.button-img-mail {
  background-image: url('../images/mail.png');
}
.button-img-phone {
  background-image: url('../images/phone.png');
}